@import url(reset.css);
@import url(layout.css);
/* @import url(responsive.css); */
body {
  line-height: 1.3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo-navbar,
.navbar-group {
  display: flex;
  gap: 30px;
}

.projects,
.dropdown {
  position: relative;
}
.nested-list,
.dropdown-list {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  position: absolute;
  top: 6cqmin;
  box-shadow: 2px 0px 2px 3px rgb(241, 240, 240);
}
.nested-list {
  width: 170px;
}
.nested-list li a {
  font-size: 12px !important;
}
.projects:hover .nested-list,
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  top: 30px;
}
.dropdown-list {
  left: 152px;
  width: 150px;
}
.dropdown:hover .dropdown-list {
  top: 10px;
}
.logo {
  font-size: 22px;
}
.logo span {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  width: 4px;
  height: 4px;
}
.navbar-group li a {
  font-size: 14px;
  color: rgb(93, 93, 93);
}

.active,
.navbar-group li a:hover,
.phone-number {
  color: red !important;
}
.projects a i {
  font-size: 10px;
  padding-left: 12px;
}
.phone-number {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
.phone-number i {
  padding-right: 10px;
}
.res-list {
  display: none;
}

#close-btn {
  border: none;
  background-color: white;
  margin-right: -130px;
}
#close-btn i {
  font-size: 30px;
}
.res-list {
  gap: 10px;
  display: none;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.res-list li a {
  color: rgb(73, 73, 73);
  font-size: 14px;
}
.res-list li {
  width: 100%;
  padding: 10px;
}
.res-list li:hover {
  background-color: rgb(241, 241, 241);
}
.res-list li:hover a {
  color: red;
}
#open-btn {
  display: none;
  border: none;
  background-color: white;
  padding-left: 10px;
}
#open-btn a i {
  font-size: 30px;
}
@media (max-width: 1050px) {
  .navbar-group {
    display: none;
  }
  #open-btn {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .phone-number {
    display: none;
  }
  
}
/** section intro */

.img-box{
  background-image: url('https://preview.colorlib.com/theme/constructed/images/img_6.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.content-box{
    height: 90vh;
    background-color: rgb(249, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 80px;
    gap: 30px;
    
}
.content-box div span,.about-img-content span{
    display: inline-block;
    color: red;
    padding-bottom:20px ;
}
.content-box div h1,.about-img-content h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.content-box .description{
    font-size: 14px;
   color: rgb(163, 163, 163);
}
.watch-btn .project-btn,.portfolio-btn button{
    background-color: red;
    border: none;
    padding: 10px;
    transition: all 1s;
}
.watch-btn .project-btn a{
    color: white;
}
.watch-btn .project-btn:hover,.portfolio-btn button:hover {
    background-color: white;
    
}
.watch-btn .project-btn:hover a{
    color: red;
}
.watch-btn .play-btn{
    border: none;
    background-color: white;
    color: red;
padding-left: 20px;
}
.watch-btn .play-btn i{
    padding-right: 10px;
}
/* *form section */
.form{
  margin: 50px 0;
}
.label-input{
  padding:  10px;
}
.form-heading{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-heading h1{
    margin-top: 40px 10px;
    font-size: 34px;
}
.form-heading p{
    font-size: 14px;
    color: rgb(111, 111, 111);
    /* padding: 10px 50px; */
    margin:  0px 0 30px;
    text-align: center;
    width: 50%;
}

input,textarea{
    width: 100%;
    background-color: rgb(252, 250, 250);
    border-radius: 30px;
    border: none;
    padding: 20px 20px;
   
}
label{
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
    color: #6b6b6b;
}
textarea{
  height: 200px;
  resize: none;
}
input:focus,textarea:focus{
  background-color: white;
  outline: 1px solid rgb(170, 170, 170);
}
form button[type='submit']{
  background-color: red;
  color: white;
  border: none;
  margin-left: 20px;
  padding: 18px;
  font-size: 18px;
  transition: all 0.5s;
}
form button[type='submit']:hover{
  background-color: white;
  color: red;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
/* *footer */
footer{
    padding:  70px 0;
  }
  .about-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
  }
  .about h5, .connectUs h5,.navigation-box h5 {
    padding-bottom: 20px;
  }
  
  
  .social-links{
    display: flex;
    gap: 10px;
  }
  .social-links li{
    width: 50px;
    height: 50px;
    background-color: rgb(244, 243, 243);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
  
  .social-links li a i{
    color: black;
    font-size: 18px;
    transition: all 1s;
  }
  
  .social-links li:hover {
    background-color: red;
  }
  .social-links li:hover i{
    color: white;
  }
  
  .navigation-box{
    width: 100%;
  }
  .about-desc,.navigation-list li a{
    font-size: 14px;
    color: rgb(44, 44, 44);
    
  }
  .navigation-list li {
    padding-bottom: 8px;
  }
  .navigation-list li:hover a{
    color: red;
  }